@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #f6f4f0;
    --clr-bg-pri: #a9612e;
    --clr-bg-sec: #f3fafa;
    --clr-acc-main: #f6f4f0;
    --clr-acc-pri: #eeab30;
    --clr-acc-sec: #33cbb8;
    --clr-acc-thi: #d80000;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {
    font-size: var(--h1-fs);
}

h2 {
    font-size: var(--h2-fs);
}

h3 {
    font-size: var(--h3-fs);
}

h4 {
    font-size: var(--h4-fs);
}

p, a, li {
    font-size: var(--p-fs);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  var(--clr-acc-main);
    color: var(--clr-text-main);
    padding: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}

.btn:last-child {
    background-color: var(--clr-acc-pri);
}
  
.btn:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 600px;
    width: 90%;
    position: relative;
    animation: scaleUp 1s ease-in-out backwards;
    transform-origin: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    box-shadow: 0px 8px 30px -10px lightgray;
    background-color: #fff;
    padding: 2rem;
    border-radius: .25rem;
}

.widget {
    margin-bottom: 2rem;
}

.dropdown {
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: .5rem;
    border-radius: .25rem;
    box-shadow: 0px 8px 30px -10px lightgray;

}

.dropdown i {
    font-size: 1.2rem;
    cursor: pointer;
 }

.dropdown-menu {
    padding: .5rem;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0px 8px 30px -10px lightgray;
    transform: translate(50%, -50%) scale(0);
    transition: .3s;

}

.dropdown-menu.active {
    transform: translate(0, 0) scale(1);

}

.dropdown-menu li {
    padding: .5rem;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: var(--clr-acc-main);
}

.card h3 {
    margin-bottom: 1rem;
}

.check-form {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin: .8rem 0;
    width: max-content;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btns {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 1px solid lightgray;
    transition: .3s;
    border-radius: .25rem;
  }
  
  .check-form:hover input ~ .checkmark {
    background-color: #eee;

  }
  
  .check-form input:checked ~ .checkmark {
    border: 1px solid lightgray;
  }
  
  
  .check-form input:checked ~ .checkmark:after {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .check-form .checkmark:after {
    content: "";
    position: absolute;
    transition: .3s;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    background: var(--clr-bg-pri);
    transition: .5s;
    transform: translate(-50%, -50%) scale(0);
    animation: scaleUp .5 ease-in-out 1s backwards;
  }

  .widget .check-form .checkmark:after, .widget .checkmark {
    border-radius: 50%;
  }

  @media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        margin: 1rem .5rem;
        width: 100%;
        min-width: 400px;
    }
    
  }