@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .4rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #446392;
    --clr-bg-pri: #4e72aa;
    --clr-bg-sec: #294267;
    --clr-acc-main: #294267;
    --clr-acc-pri: #e2edf9;
    --clr-acc-sec: #33cbb8;
    --clr-acc-thi: #d80000;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #36454F;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {
    font-size: var(--h1-fs);
}

h2 {
    font-size: var(--h2-fs);
}

h3 {
    font-size: var(--h3-fs);
}

h4 {
    font-size: var(--h4-fs);
}

p, a, li {
    font-size: var(--p-fs);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  var(--clr-acc-main);
    color: #fff;
    padding: 1rem;
    width: 100%;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}
  
.btn:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
    background-color: var(--clr-acc-pri);
    color: var(--clr-acc-main);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 600px;
    width: 90%;
    position: relative;
    animation: scaleUp 1s ease-in-out backwards;
    transform-origin: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container:after {
    content: '';
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: var(--clr-bg-pri);
}

i {
    font-size: 1.2rem;
}

.column1, .column2 {
    width: 50%;
    max-width: 400px;
}

.card {
    box-shadow: 0px 8px 30px -2px var(--clr-acc-main);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}

.card .item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.column1 .card:nth-child(1) {
    width: 260px;
    margin-left: auto;
    margin-bottom: 2rem;

}

.card p {
    font-size: .7rem;
}

.card i {
    margin-right: .5rem;
    color: var(--clr-acc-main);
}

.card .item i {
    min-width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: calc(3rem - 8px);
    border: 4px solid var(--clr-acc-pri);
}

.card .pics, .card .eye {
    display: flex;
    align-items: center;
}

.card:nth-child(2) {
    display: flex;
    align-items: center;
    max-width: 400px;
    justify-content: space-between;
}

.card:nth-child(2) img {
    width: 3.5rem;
    height: 3.5rem;
    border: .3rem solid white;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -1rem;
}


.card:nth-child(2) img:nth-child(1) { z-index: 4; }
.card:nth-child(2) img:nth-child(2) { z-index: 3; }
.card:nth-child(2) img:nth-child(3) { z-index: 2; }

.column2 .card {
    max-width: 250px;
}

.column2 .card img {
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 4px solid var(--clr-acc-pri);
    object-fit: cover;
    object-position: 35%;

}

.column2 {
    text-align: center;
}

.column2 .card h5 {
    display: inline-block;
    font-size: .7rem;
    padding: .1rem .3rem;
    background: var(--clr-acc-main);
    color: #fff;
    font-weight: 400;
    border-radius: 10rem;
    transform: translateY(calc(-50% - 4px));
}

.column2 .card p {
    margin-top: 2rem;
}

.column2 .card span {
    font-size: .75rem;
}


  @media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin: 1rem .5rem;
        width: 100%;
        min-width: 300px;
    }

    .column1, .column2 {
        width: 100%;
    }

    .card {
        margin: 0 auto;
    }

    .container:after {
        max-width: 310px;
        max-height: 310px;
    }
    
  }